# Movie Production(Business Analysis)

### Halima Bulama-Ladan
#### April/29/2022

## Business Problem:
A set of data was gotten from the IMDB for analyzing the success of movies, but it was discovered that the dataset contained no financial information on the movies(Budget or Revenue). In order for the movies to be analyzed , additional data on the financial is required. 


The business stakeholder, identified The Movie Database (TMDB) as a great source of financial data (https://www.themoviedb.org/), and requested that information on budget, revenue and MPAA rating (G/PG/PG-13/R), which is also called "Certification", should be extracted and added to the initial data.

The stakeholder is only interested in movies with the same criteria as the ones specified in the initial IMDB ETL extracted.

Extractions on movies starting from year 2000 and 2001 was requested as a proof-of-concept The files are to be saved in  separate .csv.gz file.

**Importing relevant libraries**

In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
!pip install tmdbsimple
import os, json, math, time
from tqdm.notebook import tqdm_notebook

Requirement already satisfied: tmdbsimple in c:\users\heill\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\heill\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\heill\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\heill\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\heill\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\heill\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.8)

**Loading API Credentials**

In [66]:
import json

#Loading the api credentials from the .secret folder.
with open("/Users/heill/.secret/tmdb_api.json", "r") as f:
    login = json.load(f)
    
#Display of the api key
login.keys()

dict_keys(['api_key'])

In [67]:
#Loging in with the api keys
import tmdbsimple as tmdb
tmdb.API_KEY = login['api_key']

**Testing of API call**

In [68]:
#Making a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

#calling the movie objects dictionary
movie_info = movie.info()
movie_info

{'adult': False,
 'backdrop_path': '/ncEsesgOJDNrTUED89hYbA117wo.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 67.097,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.2,
 'vote_count': 21457}

**The addition of Revenue, was successfull and this can be viewed using the info funct. However Certification has been omitted. This needs to be rectified inorder to meet the requirements**

In [75]:
info['budget']

NameError: name 'info' is not defined

In [ ]:
info['revenue']

In [ ]:
info['imdb_id']

In [ ]:
movie = tmdb.Movies('tt1361336')
info = movie.info()
info['budget']

**Below is a sample extraction of certification using .release()

In [ ]:
# example from package README - the rating of the movie if it is in the US
response = movie.releases()
for c in movie.countries:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

**Creating a folder to save data, or simply calling it if it already exist.**

In [70]:
FOLDER = 'Movies_files/'
os.makedirs(FOLDER, exist_ok =True)
os.listdir(FOLDER)

['final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv',
 'final_tmdb_data_2001.csv.gz',
 'Title_Akas.csv',
 'Title_Akas.csv.gz',
 'Title_Basics.csv',
 'Title_Basics.csv.gz',
 'Title_Ratings.csv',
 'Title_Ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

**Defining the years to extract**

In [73]:
YEARS_TO_GET = [2000, 2001]

###  Defining functions for ease of coding

**Movie Rating function**

In [69]:
def movie_with_rating (movie_id):

#Retrieving movie and release dates
    movie = tmdb.Movies(movie_id)
    #Constructing output dict
    movie_info = movie.info()
    releases = movie.releases()
    #loop through counteries in the releases
    for c in releases["countries"]:
    #if the country abbreviatedion==US
        if c["iso_3166_1"]=="US":
        #Save a "certification" key in the info dict with the certification
            movie_info["certification"] = c["certification"]
    return movie_info

**Function to append results to the JSON file**

In [71]:
#USing a function to append new results to the existing JSON file

def write_json (new_data, filename):
    with open(filename, "r+") as file:
        #First we load existing data into a dict
        file_data = json.load(file)
        if (type(new_data)==list)& (type(file_data)==list):
            file_data.extend(new_data)# can use .append as alternative
        else:
            file_data.append(new_data)
        #setting the current files's position at offset.
        file.seek(0)
        #converting back to json
        json.dump(file_data, file)

**LOading the dataframe to use in specifying the parameters of the loop.**

In [72]:
#Loading the dataframe from project part 1 as basics
basics = pd.read_csv('Title_Basics.csv.gz')
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama

**A loop to call API**

In [74]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    
    #Defining the JSON file to store results for year
    JSON_FILE = f"{FOLDER}tmdb_api_results_{YEAR}.json"

        #checking for existence of file
    file_exists =os.path.isfile(JSON_FILE)

    #Checking if file already exists, if it does not exist: create it
    if file_exists ==False:

    #save an empty dict with just "imdb_id" to the new json file.

        with open(JSON_FILE, "w") as f:
            json.dump([{"imdb_id":0}], f)

    #Defining and filtering the IDs to call

    #Saving new year as the current df
    df =basics.loc[basics["startYear"]==YEAR].copy()

    #Saving movie ids to the list
    movie_ids =df["tconst"].copy()#.to_list
  

    #Load in any existing API results with pd.read_json
    #Check to see if any of the movie_ids to get are already in the JSON file.
    #Filter out only movies that are missing from the JSON file to use in the loop

    previous_df = pd.read_json(JSON_FILE)
    

    #filtering movie IDS already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df["imdb_id"])]
   

    
    #INNER LOOP:  .

    #REtrieve the movie ID from list
    for movie_id in tqdm_notebook(movie_ids_to_get, 
                                 desc =f'Movies from {YEAR}',
                                  position =1,
                                  leave =True):

        #retrieve data for the movie id
        try:
            temp =movie_with_rating(movie_id)#This will use the pre-made function
            #Append the results to existing file using the pre-made function
            write_json(temp, JSON_FILE)
            #Set to 20ms sleep to avoid overwhelming server
            time.sleep(0.02)

        #if it fails, make a dict with just the id and None for certification
        except Exception as e:
            continue
        
final_year_df =pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression ="gzip", index =False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/938 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/1517 [00:00<?, ?it/s]