# Movies_Project

In [6]:
#Importing libraries
import pandas as pd
import numpy as np

In [3]:
#Assigning the data file url to a variable
#t_ratings_url ="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [7]:
#Loading the data file
ratings= pd.read_csv(t_ratings_url, sep ='\t', low_memory =False)

In [5]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1874
1  tt0000002            5.9       248
2  tt0000003            6.5      1647
3  tt0000004            5.8       160
4  tt0000005            6.2      2475

The history saving thread hit an unexpected error (OperationalError('database is locked')).History will not be written to the database.

In [19]:
#Converting the \N null value into a pandas recognizable format of np.nan
ratings =ratings.replace({"\\N":np.nan})

In [21]:
#Checking for null values, but none found.
ratings.isnull().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

**Loading the title_basics file to filter based on ratings**

In [8]:
basics = pd.read_csv("Title_Basics.csv")
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [12]:
#filtering basics file based on ratings file
keepers_ratings = ratings['tconst'].isin(basics["tconst"])

In [15]:
Title_Ratings = ratings[keepers]
Title_Ratings

C:\Users\heill\anaconda3\envs\dojo-env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

            tconst  averageRating  numVotes
17897    tt0035423            6.4     83564
40724    tt0062336            6.4       161
46573    tt0069049            6.7      7193
55747    tt0079644            7.3        35
63550    tt0088751            5.2       319
...            ...            ...       ...
1237646  tt9916170            6.7         6
1237647  tt9916190            3.6       233
1237654  tt9916270            5.8      1330
1237658  tt9916362            6.4      4571
1237666  tt9916538            8.3         6

[102469 rows x 3 columns]

In [13]:
import os

In [16]:
Title_Ratings.to_csv ("Movies_files/Title_Ratings.csv.gz", compression = "gzip", index = False)

In [23]:
#Confirming changes
df = pd.read_csv("Movies_files/Title_Ratings.csv.gz")
df.head()

      tconst  averageRating  numVotes
0  tt0035423            6.4     83564
1  tt0062336            6.4       161
2  tt0069049            6.7      7193
3  tt0079644            7.3        35
4  tt0088751            5.2       319

**File was successfully saved**