**Importing relevant libraries**

In [1]:
import pandas as pd
import numpy as np

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine

from sqlalchemy_utils import create_database, database_exists
connection_string = "mysql+pymysql://root:root@localhost/MOVIES"

**Loading the title_basics data**

In [2]:
df =pd.read_csv("Movies_files/Title_Basics.csv.gz")
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020.0,NaN,74,"Horror,Music,Thriller"

**Converting the single string of genres into 2 new tables**

In [3]:
#Storing the seperated list of genres in a new column
df["genres_to_split"] = df["genres"].str.split(",")
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_to_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020.0,NaN,74,"Horror,Music,Thriller","[Horror, Music, Thriller]"

In [4]:
#Extracting each item from the list using the .explode function.
genres_exploded = df.explode("genres_to_split")
genres_exploded.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_to_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy

**Creating titles_genre table comprising of two columns**

In [5]:
#Sorting the items in the genres_to_split column and saving them in a variable to be used later
unique_genres = sorted(genres_exploded["genres_to_split"].unique())

In [6]:
title_genres =genres_exploded[["tconst", "genres_to_split"]].copy()
title_genres.head()

      tconst genres_to_split
0  tt0035423          Comedy
0  tt0035423         Fantasy
0  tt0035423         Romance
1  tt0062336           Drama
2  tt0069049           Drama

**Creating a mapper dictionary to replace the string genres with integers**

In [7]:
genre_numb = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_numb))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [8]:
#Replacing a new column as genre_id
title_genres["genre_id"] = title_genres["genres_to_split"].map(genre_map)
title_genres.head(2)

      tconst genres_to_split  genre_id
0  tt0035423          Comedy         5
0  tt0035423         Fantasy         9

In [9]:
#Dropping the old column of split list of genres
title_genres = title_genres.drop(columns =["genres_to_split"])

**Creating a new table for genres by converting the mapper dictionary into a dataframe, and naming it genres**

In [10]:
genres =pd.DataFrame({"genre_name":genre_map.keys(), "genre_id":genre_map.values()})

**Dropping all the unwanted columns from the title basics table**

In [11]:
title_basics= df.drop(columns =["originalTitle", "isAdult", "titleType", "genres", "genres_to_split"])

**Loading the previous data sets on title_ratings and tmdb**

In [12]:
title_ratings = pd.read_csv("Movies_files/Title_Ratings.csv.gz")

In [13]:
tmdb_data = pd.read_csv("Movies_files/tmdb_results_combined.csv.gz")
tmdb_data.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN

**The column genres in tmdb_data will be used as a primary key when converting into a database, therefore, it will be seperated into two columns, genre_name and genre_id**

In [14]:
#The column consists of list of dictionaries in a string, which needs to be unpacked
sample =tmdb_data.loc[1,"genres"]
print(type(sample))
sample

<class 'str'>

"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}]"

In [15]:
#first lets begin by dropping the null values
tmdb_data = tmdb_data.dropna()

In [16]:
#Next we seperate the single quotes with a double quotes, to enable us use json.loads function to convert back to a list
tmdb_data["genres"] = tmdb_data["genres"].str.replace("'", '"')

In [17]:
import json
changed =tmdb_data["genres"].apply(json.loads)
changed.head()

30      [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
34      [{'id': 53, 'name': 'Thriller'}, {'id': 878, '...
379                        [{'id': 35, 'name': 'Comedy'}]
686     [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
1201    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
Name: genres, dtype: object

In [18]:
sample = changed.iloc[1]
sample

[{'id': 53, 'name': 'Thriller'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [19]:
def extract_id (column):
    genre_ids=[]
    for i in column:
        genre_ids.append(i["id"])
    return genre_ids

In [20]:
def extract_name(column):
    genre_names = []
    for i in column:
        genre_names.append(i["name"])
    return genre_names

In [21]:
extract_name (sample)

['Thriller', 'Science Fiction', 'Action']

In [22]:
tmdb_data["genres_id"] =changed.apply(extract_id)
tmdb_data["genres_names"] =changed.apply(extract_name)
#d = pd.DataFrame(changed)
tmdb_data.head(1)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification,genres_id,genres_names
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,"[28, 53, 80, 14, 9648]","[Action, Thriller, Crime, Fantasy, Mystery]"

In [23]:
exploded = tmdb_data.explode("genres_id")
tmdb_genres_exploded = exploded.explode("genres_names")
tmdb_genres_exploded= tmdb_genres_exploded.drop(columns=["genres"])
tmdb_data = tmdb_genres_exploded
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,homepage,id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification,genres_id,genres_names
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Action
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Thriller
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Crime
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Fantasy
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Mystery

**Checking all the required tables to form the database**

### title_basics

In [24]:
title_basics.head(1)

      tconst    primaryTitle  startYear  endYear  runtimeMinutes
0  tt0035423  Kate & Leopold     2001.0      NaN             118

### genres

In [25]:
genres.head(1)

  genre_name  genre_id
0     Action         0

### title_genres

In [26]:
title_genres.head(1)

      tconst  genre_id
0  tt0035423         5

### title_ratings

In [27]:
title_ratings.head(1)

      tconst  averageRating  numVotes
0  tt0035423            6.4     83564

### tmdb_data

In [28]:
tmdb_data.head(5)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,homepage,id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification,genres_id,genres_names
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Action
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Thriller
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Crime
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Fantasy
30,tt0132910,0.0,/s6cgAveWCam2hYgdPhD3WbrjSBt.jpg,"{'id': 9436, 'name': 'The Crow Collection', 'p...",10000000.0,https://www.miramax.com/movie/crow-iii-salvation/,9456.0,en,The Crow: Salvation,Alex Corvis returns to the world of the living...,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Vengeance, For Justice, For Love.",The Crow: Salvation,0.0,5.4,247.0,R,28,Mystery

## Creating the database

In [29]:
engine =create_engine(connection_string)

In [30]:
if database_exists(connection_string)==False:
    create_database(connection_string)

**Creating a datatype schema for the database conversion**

In [31]:
from sqlalchemy.types import *

key_len = title_basics["tconst"].fillna("").map(len).max()
title_len = title_basics["primaryTitle"].fillna("").map(len).max()

df_schema ={
    "tconst": String(key_len+1),
    "imdb_id":String(key_len+1),
    "primaryTitle":Text(title_len+1),
    "startYear":Float(),
    "endYear":Float(),
    "runtimeMinutes": Integer()}

In [ ]:
key_len = tmdb_data["imdb_id"].fillna("").map(len).max()
title_len = tmdb_data["primaryTitle"].fillna("").map(len).max()

**Converting all the dataframe tables into database tables**

While converting dataframes into  database tables with integer primary keys, the keys can be assigned within the same line of codes. 

As for dataframes with with object columns as primary key, the dataframe needs to be converted to a database table first and then the keys can be assigned using a different line of codes.

**Converting databases with integer column as primary keys, into database tables, at the same time assigning a primary key.**

In [32]:
#Converting databases with integer column as primary keys, into database tables.

title_genres.set_index("genre_id").to_sql('title_genres', engine, if_exists = "replace" , index = False)

genres.set_index("genre_id").to_sql('genres', engine, if_exists = "replace" , index = False)

**Converting dataframes with object columns as primary key, into database tables, the primary keys will be assigned seperately in the next line of codes**

In [33]:
#Converting dataframes with object columns as primary key, into database tables

title_basics.to_sql('title_basics',engine,dtype = df_schema, if_exists ="replace" , index = False)

title_ratings.to_sql('title_ratings',engine, dtype = df_schema, if_exists ="replace" , index = False)

tmdb_data.to_sql('tmdb_data', engine, dtype = df_schema, if_exists = "replace", index = False)

**Assigning primary key to each of the database table**

In [34]:
#Assigning the "tconst" column as key to the title_basics table
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

#Assigning the "tconst" column as key to the title_ratings table
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [38]:
#Assigning the "tconst" column as key to the title_ratings table
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0134847' for key 'tmdb_data.PRIMARY'")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [35]:
q =""" SHOW TABLES; """
pd.read_sql(q,engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data

In [36]:
path =r"C:\Users\heill\OneDrive\Documents\Github\Database_Movies\Movies_files\Title_Ratings.csv.gz"

In [37]:
df =pd.read_csv(path)
df

           tconst  averageRating  numVotes
0       tt0035423            6.4     83564
1       tt0062336            6.4       161
2       tt0069049            6.7      7193
3       tt0079644            7.3        35
4       tt0088751            5.2       319
...           ...            ...       ...
102464  tt9916170            6.7         6
102465  tt9916190            3.6       233
102466  tt9916270            5.8      1330
102467  tt9916362            6.4      4571
102468  tt9916538            8.3         6

[102469 rows x 3 columns]